  @keyframes shakeY {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(0, -10px, 0);
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(0, 10px, 0);
  }
}

:host(.shakeY) {
  animation-name: shakeY;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}
