  :host {
    /* Private, inherited from <tp-accordion> */
    --border-color: inherit;
    --border-style: inherit;
    --border-width: inherit;
    --border-radius: inherit;
    display: block;
  }


  summary {
    display: flex;
    align-items: center;
    padding: 1em;
    gap: 1em;
    background: transparent;
    font-weight: 600;
    font-size: 0.9375em;
    cursor: pointer;
    user-select: none;
    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: var(--tp-focus-ring);
      outline-offset: -2px;
    }
  }
  summary[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  /* Label */
  [part="label"] {
    display: flex;
    flex: 1;
    align-items: center;
  }

  [part="content"] {
    will-change: height;
  }

  :host(:not([open])) [part="content"] {
    height: 0;
    overflow: hidden;
  }

  :host([open]) [part="content"] {
    overflow: visible;
  }

  [part="content"] {
    padding: 3em 1em 1em;
  }

  /* Normal appearance 
  :host([appearance='normal']) details {
    border: none;
  }
  

  :host([appearance='normal'][data-accordion-item-first]) {
    border-top: var(--border-style) var(--border-width) var(--border-color);
  }
  */
  /* Contained appearance */
  :host([data-accordion-container]) details {
    border: none;
  }

  :host([data-accordion-container][data-accordion-item-first]) summary {
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
  }

  :host([data-accordion-container][data-accordion-item-last]) summary {
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }

  :host([data-accordion-container]:not([data-accordion-item-last])) {
    border-bottom: var(--border-style) var(--border-width) var(--border-color);
  }

  /* Separator appearance */
  :host([data-accordion-separator]) details {
    border: var(--border-style) var(--border-width) var(--tp-neutral-fill-soft);
    border-radius: var(--border-radius);
    background-color: var(--tp-paper-color);
    box-shadow: var(--tp-shadow-softer);
    color: var(--tp-neutral-text-on-soft);
  }

  :host([data-accordion-separator][open]) {
    border-color: var(--border-color);
  }

  :host([data-accordion-separator]) summary {
    border-radius: inherit;
  }

  /* List appearance */
  :host([data-accordion-list]) details {
    border: none;
    border-radius: 0;
    border-bottom: var(--border-style) var(--border-width) var(--border-color);
  }

  :host([data-accordion-list][data-accordion-item-first]) summary {
    border-radius: 0;
    border-top: var(--border-style) var(--border-width) var(--border-color);
  }

  
  