@import "../../styles/tp-reset.css";
@import "../../styles/tp-utilities.css";
@import "../../styles/tp-icons.css";

p {
  margin-block-end: 0.75rem;
}

ul, ol, dl {
  margin-inline-start: 0.5rem;
  margin-block-end: 0.75rem;
}
ul > li, ol > li, dl > dd {
  margin-inline-start: 1rem;
}

pre.shiki {
  border-radius: 0.5rem;
  overflow-x: auto;
  margin: 0.5rem 0;
}

pre.shiki code,
pre.shiki span {
  background: transparent !important;
}
